.login-box {
    width: 320px;
    height: 420px;
    background: #000;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;

    & > .logo {
        display: block;
        margin: 2em auto;
    }
}

ion-item {
    --highlight-color-valid: #8800ff;
}

ion-row {
    margin: 1.5em;
}
ion-button,
ion-label,
ion-input {
    font-family: "Titillium Web", sans-serif !important;
}

.text-error {
    color: salmon;
    font-size: 12px;
    margin: 6px;
    font-family: "Titillium Web", sans-serif !important;
}
