<ion-content class="login-box">
    <img src="assets/images/logo.png" class="logo" alt="Logo">
    <form [formGroup]="formLogin">
        <ion-item lines="full">
            <ion-label position="floating">Email</ion-label>
            <ion-input type="email" formControlName="email"></ion-input>
        </ion-item>
        <span class="text-error" *ngIf="formLogin.controls?.email?.invalid && formLogin.controls?.email?.touched">Incorrect email format</span>
        <ion-item lines="full">
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>
        <span class="text-error" *ngIf="formLogin.controls?.password?.invalid && formLogin.controls?.password?.touched">Password is required</span>
        <ion-row>
            <ion-col>
                <ion-button [disabled]="!formLogin.valid" type="submit" color="primary" expand="block" (click)="doLogin()">Log In
                </ion-button>
            </ion-col>
        </ion-row>
    </form>
</ion-content>